{
	"OperatingSystem" : [
			{ "name" : "windows",
			  "libraries": [
					{
							"order":1,
							"library" : "libgslcblas-0.dll"
					},
					{
							"order":2,
							"library" : "libgsl-0.dll"
					}					
			 ]
                },
                        { "name" : "linux",
                          "libraries": [
                                        {
                                                        "order":1,
                                                        "library" : "libgslcblas.so"
                                        },
                                        {
                                                        "order":2,
                                                        "library" : "libgsl.so"
                                        }
                         ]
                }
	 ]
}
