{
	"Formats" : [
		{ 	"code" 			: "table",
			"name" 			: "postgres non spatial table",
			"description" 	: "Used for tables that do not contain columns with geometries; these tables do not need postgis",
			"extension"		: "?",
			"type"			: "database",
			"datatypes"		: "table",
			"readwrite"		: "rcu",
			"extendedtype"	: "?"
		},
		{ 	"code" 			: "simplefeatures",
			"name" 			: "postgres spatial table",
			"description" 	: "Used for tables that do contain columns with geometries; these tables need postgis",
			"extension"		: "?",
			"type"			: "database",
			"datatypes"		: "featurecoverage",
			"readwrite"		: "rcu",
			"extendedtype"	: "?"
		},
		{ 	"code" 			: "map",
			"name" 			: "postgres raster",
			"description" 	: "A table containing one or more columns with full rasters or raster tiles",
			"extension"		: "?",
			"type"			: "database",
			"datatypes"		: "rastercoverage",
			"readwrite"		: "r",
			"extendedtype"	: "?"
		}		
	]
}