{
	"Formats" : [
		{ 	"code" 			: "AeronavFAA",
			"name" 			: "Aeronav FAA files",
			"description" 	: "text files describing aeronav information - obstacles, navaids and routes - as provided by the FAA",
			"extension"		: "dat",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem"						
		},
		{ 	"code" 			: "AVCBin",
			"name" 			: "Arc/Info Binary Coverage",
			"description" 	: "Arc/Info Binary Coverages (eg. Arc/Info V7 and earlier)",
			"extension"		: "adf",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem,table"									
		},
		{ 	"code" 			: "AVCE00",
			"name" 			: "Arc/Info .E00 (ASCII) Coverage",
			"description" 	: "Arc/Info Binary Coverages (eg. Arc/Info V7 and earlier)",
			"extension"		: "e0*",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem,table"									
		},
		{ 	"code" 			: "ARCGEN",
			"name" 			: "Arc/Info Generate",
			"description" 	: " files are simple ASCII files that contain points, lines or polygons (one type of geometry per file)",
			"extension"		: "gen",
			"type"			: "file",
			"datatypes"		: "featurecoverage"			
		},
		{ 	"code" 			: "BNA",
			"name" 			: "Atlas BNA",
			"description" 	: "an ASCII exchange format for 2D vector data supported by many software packages",
			"extension"		: "bna",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"readwrite"		: "rc"
		},
                { 	"code" 			: "CSV",
                        "name" 			: "Comma Separated Value (.csv)",
                        "description" 	: "Common interchange format supporting tabular data. See gdal documentation for supporting spatial information",
                        "extension"		: "csv",
                        "type"			: "file",
                        "datatypes"		: "table",
                        "readwrite"		: "rc"
                },
                { 	"code" 			: "DWG",
			"name" 			: "AutoCAD DWG",
			"description" 	: "DWG is an binary working format used for AutoCAD drawings",
			"extension"		: "dwg",
			"type"			: "file",
			"datatypes"		: "featurecoverage"
		},
		{ 	"code" 			: "DXF",
			"name" 			: "AutoCAD DXF",
			"description" 	: "DXF is an ASCII format used for interchanging AutoCAD drawings between different software packages",
			"extension"		: "dxf",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"readwrite"		: "rc"						
		},
		{ 	"code" 			: "EDIGEO",
			"name" 			: "EDIGEO",
			"description" 	: "text format aimed at exchanging information, with powerful description capabilities, topology modelling, etc",
			"extension"		: "thf",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem"									
		},
		{ 	"code" 			: "ESRI Shapefile",
			"name" 			: "ESRI Shapefile",
			"description" 	: "Interchange format for vector data by ESRI",
			"extension"		: "shp",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"readwrite"		: "rcu",
			"extendedtype"	: "coordinatesystem,table",
                        "parts"			: "sbn,sbx,shx"
		},
		{ 	"code" 			: "GeoJSON",
			"name" 			: "GeoJSON",
			"description" 	: "GeoJSON is a dialect based on JSON. The JSON is a text format for geo data interchange",
			"extension"		: "geojson,json",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"readwrite"		: "rc",
			"extendedtype"	: "coordinatesystem,table"									
		},
		{ 	"code" 			: "Geoconcept",
			"name" 			: "Geoconcept Export",
			"description" 	: "a simple text format named gxt. A gxt file may contain objects from several type/subtype",
			"extension"		: "gxt,txt",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"readwrite"		: "rcu",
			"extendedtype"	: "coordinatesystem,table"						
		},
		{ 	"code" 			: "GeoRSS",
			"name" 			: "GeoRSS",
			"description" 	: "GeoRSS is a way of encoding location in RSS or Atom feeds",
			"extension"		: "xml",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"readwrite"		: "rc",
			"extendedtype"	: "coordinatesystem,table"						
		},
		{ 	"code" 			: "GML",
			"name" 			: "GML",
			"description" 	: "OGR has limited support for GML reading and writing",
			"extension"		: "xml,gml",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"readwrite"		: "rc",
			"extendedtype"	: "coordinatesystem,table"						
		},
		{ 	"code" 			: "GMT",
			"name" 			: "GMT",
			"description" 	: "format used by the Generic Mapping Tools (GMT) package",
			"extension"		: "gmt",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"readwrite"		: "rc",
			"extendedtype"	: "coordinatesystem"						
		},
		{ 	"code" 			: "GPX",
			"name" 			: "GPX",
			"description" 	: "XML data format for the interchange of GPS data (waypoints, routes, and tracks)",
			"extension"		: "gpx,xml",
			"type"			: "file",
			"datatypes"		: "pointcoverage,linecoverage",
			"readwrite"		: "rc",
			"extendedtype"	: "coordinatesystem"						
		},
		{ 	"code" 			: "GPSTrackMaker",
			"name" 			: "GPSTrackMaker",
			"description" 	: "XML data format for the interchange of GPS data (waypoints, routes, and tracks)",
			"extension"		: "gtm,gtz",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"readwrite"		: "rc",
			"extendedtype"	: "coordinatesystem"						
		},
		{ 	"code" 			: "HTF",
			"name" 			: "Hydrographic Transfer Format",
			"description" 	: "Transfer Format, which is used by the Australian Hydrographic Office (AHO)",
			"extension"		: "htf",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem"									
		},
		{ 	"code" 			: "Idrisi",
			"name" 			: "Idrisi vector",
			"description" 	: "Idrisi vector files with .vct extension. The driver recognized point, lines and polygons geometries",
			"extension"		: "vct",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem"									
		},
		{ 	"code" 			: "KML",
			"name" 			: "KML",
			"description" 	: "XML-based language for managing the display of 3D geospatial data. KML has been accepted as an OGC standard",
			"extension"		: "kml",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"readwrite"		: "rc",
			"extendedtype"	: "coordinatesystem"						
		},
		{ 	"code" 			: "MapInfo file",
			"name" 			: "MapInfo file",
			"description" 	: "MapInfo datasets in native (TAB) format and in interchange (MIF/MID) format",
			"extension"		: "tab,mif,mid",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"readwrite"		: "rc",
			"extendedtype"	: "coordinatesystem"									
		},
		{ 	"code" 			: "DGN",
			"name" 			: "Microstation DGN",
			"description" 	: "Microstation DGN files from versions predating version 8.0 are supported for reading",
			"extension"		: "dgn",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"readwrite"		: "rc",
			"extendedtype"	: "coordinatesystem"									
		},
                { 	"code" 			: "ODS",
                        "name" 			: "Open Document Spreadsheet",
                        "description" 	: "spreadsheets in Open Document Spreadsheet format.See gdal documentation for supporting spatial information",
                        "extension"		: "dgn",
                        "type"			: "file",
                        "datatypes"		: "table",
                        "readwrite"		: "rc"
                },
                { 	"code" 			: "OpenAir",
			"name" 			: "OpenAir",
			"description" 	: "Special Use Airspaces in the OpenAir format",
			"extension"		: "?",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem"									
		},
		{ 	"code" 			: "OpenFileGDB",
			"name" 			: "ESRI FileGDB",
			"description" 	: "File Geodatabases (.gdb directories) created by ArcGIS 9 and above",
			"extension"		: "gdb",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem"									
		},
		{ 	"code" 			: "OSM",
			"name" 			: "OpenStreetMap XML",
			"description" 	: "OpenStreetMap files, in .osm (XML based).See gdal documentation for supporting spatial information",
			"extension"		: "osm",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem"									
		},
		{ 	"code" 			: "PDS",
			"name" 			: "Planetary Data Systems TABLE",
			"description" 	: "Planetary Data Systems tables, the imagery can he handled by gdal raster",
			"extension"		: "lbl",
			"type"			: "file",
			"datatypes"		: "table",
			"extendedtype"	: "coordinatesystem"									
		},
		{ 	"code" 			: "PGDump",
			"name" 			: "PostgreSQL SQL dump",
			"description" 	: "write only SQL dump file for import in PostgreSQL. It supports PostgreSQL extended with the PostGIS geometries",
			"extension"		: "sql",
			"type"			: "file",
			"datatypes"		: "featurecoverage,table",
			"readwrite"		: "w"						
		},
		{ 	"code" 			: "REC",
			"name" 			: "EPIInfo",
			"description" 	: "?",
			"extension"		: "rec",
			"type"			: "file",
			"datatypes"		: "featurecoverage"
		},
		{ 	"code" 			: "S57",
			"name" 			: "IHO S-57 (ENC)",
			"description" 	: "is a vector interchange format used for maritime charts",
			"extension"		: "000",
			"type"			: "file",
			"datatypes"		: "featurecoverage"
		},
		{ 	"code" 			: "SDTS",
			"name" 			: "SDTS Topological Vector Profile",
			"description" 	: "spatial data transfer standard",
			"extension"		: "sdts",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem"									
		},
		{ 	"code" 			: "SEGUKOOA",
			"name" 			: "SEG-P1 / UKOOA P1/90",
			"description" 	: "simple ASCII files that contain seismic shotpoints",
			"extension"		: "?",
			"type"			: "file",
			"datatypes"		: "pointcoverage",
			"extendedtype"	: "coordinatesystem"			
		},
		{ 	"code" 			: "SEGY",
			"name" 			: "SEG-Y",
			"description" 	: "binary files that contain single-line seismic digital data",
			"extension"		: "?",
			"type"			: "file",
			"datatypes"		: "pointcoverage"
		},
		{ 	"code" 			: "SUA",
			"name" 			: "SUA",
			"description" 	: "Special Use Airspaces in the Tim Newport-Peaces .SUA format",
			"extension"		: "sua",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem"									
		},
		{ 	"code" 			: "SVG",
			"name" 			: "Scalable Vector Graphics",
			"description" 	: "only read SVG files that are the output from Cloudmade Vector Stream Server",
			"extension"		: "svg",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem"									
		},
		{ 	"code" 			: "SXF",
			"name" 			: "Storage and eXchange Format",
			"description" 	: "open format often associated with Russian GIS Software Panorama",
			"extension"		: "sxf",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem"									
		},
		{ 	"code" 			: "UK. NTF",
			"name" 			: "National Transfer Format",
			"description" 	: "mostly used by the UK Ordnance Survey",
			"extension"		: "ntf",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem"									
		},
		{ 	"code" 			: "TIGER",
			"name" 			: "U.S. Census TIGER/Line",
			"description" 	: "digital database of geographic feature, such as roads, railroads, rivers, lakes, political boundaries, etc.",
			"extension"		: "rt*",
			"type"			: "file",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem"									
		},
                { 	"code" 			: "XLSX",
                        "name" 			: "MS Office Open XML spreadsheet",
                        "description" 	: "spreadsheets in Microsoft Office Open XML (a.k.a. OOXML) spreadsheet format.See gdal documentation for supporting spatial information",
                        "extension"		: "xlsx",
                        "type"			: "file",
                        "datatypes"		: "table",
                        "readwrite"		: "rc"
                },
                { 	"code" 			: "XPLANE",
			"name" 			: "X-Plane/Flightgear aeronautical data",
			"description" 	: "This data is used by the X-Plane and Flighgear software",
			"extension"		: "dat",
			"type"			: "file",
			"extendedtype"	: "coordinatesystem"									
		}						
	]
}
