{
	"OperatingSystem" : [
			{ "name" : "windows",
			  "libraries": [
					{
							"order":1,
							"library" : "libfreexl-1.dll"
					},
					{
							"order":2,
							"library" : "quazip.dll"
					},
					{
							"order":3,
							"library" : "qods.dll"
					},
					{
							"order":4,
							"library" : "Qt0Xlsx.dll"
					}					
			 ]
                        },
                        { "name" : "linux",
                          "libraries": [
                                        {
                                                        "order":1,
                                                        "library" : "libfreexl.so.1"
                                        },
                                        {
                                                        "order":2,
                                                        "library" : "libquazip.so"
                                        },
                                        {
                                                        "order":3,
                                                        "library" : "libQOds.so"
                                        },
                                        {
                                                        "order":4,
                                                        "library" : "libQt0Xlsx.so"
                                        }
                         ]
                        },
	 ]
}
