{
	"Formats" : [
		{ 	"code" 			: "xlsx",
			"name" 			: "Excel(XLSX)  format ",
			"description" 	: "XML based excel spreadsheet format",
			"extension"		: "xlsx",
			"type"			: "file",
			"datatypes"		: "table",
			"readwrite"		: "rcu"			
		},
		{ 	"code" 			: "xls",
			"name" 			: "Excel(XLS)  format ",
			"description" 	: "Older excel spreadsheet format",
			"extension"		: "xls",
			"type"			: "file",
			"datatypes"		: "table",
			"readwrite"		: "rcu"			
		},
		{ 	"code" 			: "ods",
			"name" 			: "Open document format,",
			"description" 	: "Open document spreadsheet format",
			"extension"		: "ods",
			"type"			: "file",
			"datatypes"		: "table",
			"readwrite"		: "rcu"			
		}			
	]
}		

