{
	"Formats" : [
		{ 	"code" 			: "map",
			"name" 			: "Ilwis 3 raster files",
			"description" 	: "binary data describing ilwis raster data",
			"extension"		: "mpr",
			"type"			: "file",
			"datatypes"		: "rastercoverage",
			"readwrite"		: "rcu",
			"extendedtype"	: "coordinatesystem,domain,georeference",
			"parts"			: "mp#"
		},
		{ 	"code" 			: "polygonmap",
			"name" 			: "Ilwis 3 polygon files",
			"description" 	: "binary data describing ilwis polygon data",
			"extension"		: "mpa",
			"type"			: "file",
			"datatypes"		: "polygoncoverage",
			"readwrite"		: "rc",
			"extendedtype"	: "coordinatesystem",
			"parts"			: "mpz#,mpat#,tri#"
		},
		{ 	"code" 			: "segmentmap",
			"name" 			: "Ilwis 3 segment files",
			"description" 	: "binary data describing ilwis line polygon data",
			"extension"		: "mps",
			"type"			: "file",
			"datatypes"		: "linecoverage",
			"readwrite"		: "rc",
			"extendedtype"	: "coordinatesystem",
			"parts"			: "mps#"
		},
		{ 	"code" 			: "pointmap",
			"name" 			: "Ilwis 3 point files",
			"description" 	: "binary data describing ilwis point data",
			"extension"		: "mpp",
			"type"			: "file",
			"datatypes"		: "pointcoverage",
			"readwrite"		: "rc",
			"extendedtype"	: "coordinatesystem",
		    "parts" 		: "mpp#,pt#"
		},
		{ 	"code" 			: "domain",
			"name" 			: "Ilwis 3 domain files",
			"description" 	: "binary data describing ilwis 3 domains (datatypes)",
			"extension"		: "dom",
			"type"			: "file",
			"datatypes"		: "domain",
			"readwrite"		: "rcu",
		    "parts"			: "dm#"
		},
		{ 	"code" 			: "georeference",
			"name" 			: "Ilwis 3 georeference files",
			"description" 	: "file(s) describing ilwis 3 relation between real world coordinates and pixels(and vice versa)",
			"extension"		: "grf",
			"type"			: "file",
			"datatypes"		: "georeference",
			"readwrite"		: "rcu",
		    "parts"		    : "gr#"
		},
		{ 	"code" 			: "table",
			"name" 			: "Ilwis 3 table files",
			"description" 	: "binary data describing ilwis 3 tabular data",
			"extension"		: "tbt",
			"type"			: "file",
			"datatypes"		: "table,column",
			"readwrite"		: "rcu",
			"parts"			: "tb#"
		},	
		{ 	"code" 			: "coordinatesystem",
			"name" 			: "Ilwis 3 coordinatesystem files",
			"description" 	: "data files describing ilwis 3 definition of world coordinates",
			"extension"		: "csy",
			"type"			: "file",
			"datatypes"		: "coordinatesystem",
			"readwrite"		: "rcu"
		},
		{ 	"code" 			: "maplist",
			"name" 			: "Ilwis 3 maplist files",
			"description" 	: "data files describing a collection of raster with identical geometry",
			"extension"		: "mpl",
			"type"			: "file",
			"datatypes"		: "rastercoverage",
			"readwrite"		: "rc"			
		},
		{ 	"code" 			: "representation",
			"name" 			: "Ilwis 3 representation files",
			"description" 	: "data files describing a template for displaying data",
			"extension"		: "rpr",
			"type"			: "file",
			"datatypes"		: "representation",
			"readwrite"		: "rc"			
		}	
	
	]
}