{
	"Formats" : [
		{ 	"code" 			: "featurecoverage",
			"name" 			: "Ilwis 4 featurecoverage",
			"description" 	: "A composite format for IlwisObject based data. It may contain multiple data objects",
			"extension"		: "ilwis",
			"type"			: "memory,file",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem",
			"readwrite"		: "rcu"				
		},
		{ 	"code" 			: "rastercoverage",
			"name" 			: "Ilwis 4 rastercoverage",
			"description" 	: "A composite format for IlwisObject based data. It may contain multiple data objects",
			"extension"		: "ilwis",
			"type"			: "memory,file",
			"datatypes"		: "rastercoverage",
			"extendedtype"	: "coordinatesystem,georeference",
			"readwrite"		: "rcu"				
		},
		{ 	"code" 			: "table",
			"name" 			: "Ilwis 4 table",
			"description" 	: "A composite format for IlwisObject based data. It may contain multiple data objects",
			"extension"		: "ilwis",
			"type"			: "memory,file",
			"datatypes"		: "table",
			"readwrite"		: "rcu"				
		},
		{ 	"code" 			: "catalog",
			"name" 			: "Ilwis 4 catalog",
			"description" 	: "A composite format for IlwisObject based data. It may contain multiple data objects",
			"extension"		: "ilwis",
			"type"			: "memory,file",
			"datatypes"		: "catalog",
			"readwrite"		: "rcu"				
		},
		{ 	"code" 			: "coordinatesystem",
			"name" 			: "Ilwis 4 coordinatesystem",
			"description" 	: "A composite format for IlwisObject based data. It may contain multiple data objects",
			"extension"		: "ilwis",
			"type"			: "memory,file",
			"datatypes"		: "coordinatesystem",
			"readwrite"		: "rcu"				
		},
		{ 	"code" 			: "domain",
			"name" 			: "Ilwis 4 domain",
			"description" 	: "A composite format for IlwisObject based data. It may contain multiple data objects",
			"extension"		: "ilwis",
			"type"			: "memory,file",
			"datatypes"		: "domain",
			"readwrite"		: "rcu"				
		},
		{ 	"code" 			: "georeference",
			"name" 			: "Ilwis 4 domain",
			"description" 	: "A composite format for IlwisObject based data. It may contain multiple data objects",
			"extension"		: "ilwis",
			"type"			: "memory,file",
			"datatypes"		: "georeference",
			"readwrite"		: "rcu"				
		}
	]
}		

