{
	"OperatingSystem" : [
			{ "name" : "windows",
			  "libraries": [
					{
							"order":1,
							"library" : "python/vcruntime140.dll"
					},
					{
							"order":2,
							"library" : "python/python35.dll"
					},
										{
							"order":3,
							"library" : "python/Lib/site-packages/ilwis/_ilwisobjects.pyd"
					}	
			 ]
		}
	 ]
}
